@model ES
@{
    ViewData["Title"] = "Salida";
}
<a class="btn btn-outline-dark" type="button" asp-controller="Imagen" asp-action="Index">Volver</a>
<br />
<br />
<div class="row">
    <div class="col-md-4">
<form enctype="multipart/form-data" method="post" class="container">
    <h3>Salida de stock</h3>
    <table class="table">
        <tr>
            <td>
                <label clas="form-label">Productos:</label>
                @*<select asp-for="IdProductos" class="form-control" asp-items="@ViewBag.IdProductos"></select>*@
                 <select asp-for="IdProductos" class="form-control">
                            
                            
                            @foreach (var item in ViewBag.listado)
                            {
                                <option value="@item.Id">@item.nombre (@item.stock)</option>
                       
                            }

                        </select>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label clas="form-label">Cantidad</label>
                <input required type="number" class="form-control" asp-for="Cantidad" />
            </td>
            <td>
              
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-outline-danger">Salida</button>
            </td>
        </tr>
    </table>
</form>
    </div>
</div>
<label class="alert-danger">@ViewBag.error</label>